<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--包扫描 ， 只要标注了 @Controller 、@Service、@Repository、@Component的类 都会被扫描-->
    <context:component-scan base-package="com.hw.springannotation"></context:component-scan>

    <bean id="pension" class="com.hw.springannotation.beans.Pension" scope="prototype">
        <property name="name" value="hw"></property>
        <property name="age" value="18"></property>
    </bean>
</beans>